<h1 class="page-header mb-3 text-muted">Manage</h1>

<div class="row">

    <div class="col-xl">
        <div class="panel panel-inverse">
            <!-- begin panel-heading -->
            <div class="panel-heading bg-dark text-silver">
                <h4 class="panel-title">Search</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                </div>
            </div>
            <!-- end panel-heading -->
            <!-- begin panel-body -->
            <div id="search" class="panel-body text-silver" style="display:none;">
                <div class="row row-space-30">
                    <!-- begin col-4 -->
                    <div class="col-xl-4">
                        <div class="m-b-2 text-silver f-w-600 f-s-16">Source</div>
                        <div class="form-group row m-b-15">
                            <label class="col-form-label col-md-3">Name</label>
                            <div class="col-md-9 input-group-sm">
                                <input id="src_name" type="text" class="form-control m-b-5" placeholder="Source Name">
                                <small class="f-s-12 text-grey-darker">can use regular expressions</small>
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-form-label col-md-3">IP</label>
                            <div class="col-md-9 input-group-sm">
                                <input id="src_ip" type="text" class="form-control m-b-5" placeholder="Source IP">
                                <small class="f-s-12 text-grey-darker">can use regular expressions</small>
                            </div>
                        </div>
                    </div>
                    <!-- end col-4 -->
                    <!-- begin col-4 -->
                    <div class="col-xl-4">
                        <div class="m-b-2 text-silver f-w-600 f-s-16">Destination</div>
                        <div class="form-group row m-b-15">
                            <label class="col-form-label col-md-3">Name</label>
                            <div class="col-md-9 input-group-sm">
                                <input id="dst_name" type="text" class="form-control m-b-5" placeholder="Destination Name">
                                <small class="f-s-12 text-grey-darker">can use regular expressions</small>
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-form-label col-md-3">IP</label>
                            <div class="col-md-9 input-group-sm">
                                <input id="dst_ip" type="text" class="form-control m-b-5" placeholder="Destination IP">
                                <small class="f-s-12 text-grey-darker">can use regular expressions</small>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end col-4 -->
                    <!-- begin col-4 -->
                    <div class="col-xl-4">
                        <div class="m-b-2 text-silver f-w-600 f-s-16">Relation</div>
                        <div class="form-group row m-b-15">
                            <label class="col-form-label col-md-3">Port</label>
                            <div class="col-md-9 input-group-sm">
                                <input id="port" type="text" class="form-control m-b-5" placeholder="Relation Port">
                                <small class="f-s-12 text-grey-darker">&nbsp;</small>
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-form-label col-md-3">Mode</label>
                            <div class="col-md-9 input-group-sm">
                                <input id="mode" type="text" class="form-control m-b-5" placeholder="Relation Mode">
                                <small class="f-s-12 text-grey-darker">&nbsp;</small>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end col-4 -->
                </div>
                <!-- end row -->
                <div class="float-right">
                    <button id="start" type="submit" class="btn btn-sm btn-primary m-r-5">Search</button>
                </div>
            </div>
            <!-- end panel-body -->
        </div>

        <div class="card border-0 mb-3 overflow-hidden bg-dark text-silver">

            <div class="card-body">
                <div class="panel-body">
                    <div id="data-table-default_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row">
                            <button id="delete" type="button" class="btn btn-danger m-l-10">
                                <i class="fas fa-trash fa-fw mx-1 opacity-5"></i> Delete
                            </button>
                            <button id="add" type="button" class="btn btn-warning m-l-10">
                                <i class="fas fa-arrow-down fa-fw mx-1 opacity-5"></i> Add
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="toolbar" class="float-left m-t-10" style="width: 400px;">
                                    <select id="urls" class="custom-select-sm form-control"></select>
                                </div>
                                <table id="records" class="table table-responsive-sm table-sm table-hover" data-pagination-parts="pageInfo">
                                    <thead></thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

<!-- Модальное окно -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Сonnection</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="form" class="modal-body">
                <table>
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="150">Source Name</td>
                            <td>
                                <div class="input-group-sm">
                                   <input id="src_name" type="text" class="form-control m-t-2 m-b-2" style="width: 400px;"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Source IP</td>
                            <td>
                                <div class="input-group-sm">
                                   <input id="src_ip" type="text" class="form-control m-t-2 m-b-2" style="width: 200px;"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Destination Name</td>
                            <td>
                                <div class="input-group-sm">
                                    <input id="dst_name" type="text" class="form-control m-t-2 m-b-2"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Destination IP</td>
                            <td>
                                <div class="input-group-sm">
                                    <input id="dst_ip" type="text" class="form-control m-t-2 m-b-2" style="width: 200px;"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Mode</td>
                            <td>
                                <select id="mode" class="custom-select-sm form-control m-t-2 m-b-2" style="width: 100px;">
                                    <option value="tcp">tcp</option>
                                    <option value="udp">udp</option>
                                    <option value="cmd">cmd</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Port</td>
                            <td>
                                <div class="input-group-sm">
                                    <input id="port" type="text" class="form-control m-t-2 m-b-2" style="width: 100px;"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>
                                <div class="input-group-sm">
                                    <input id="status" type="text" class="form-control m-t-2 m-b-2" style="width: 100px;"/>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table> 
                <div id="error" style="margin-top: 10px; color: rgb(227, 80, 80)"></div>
                <input id="id" type="hidden"/>
            </div>
            <div class="modal-footer">
                <button id="close" type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                <button id="save" type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/assets/plugins/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script type="text/javascript">

    var search = {};

    function loadRecords(url) {
        var nRecords = [];

        $.ajax({
            url: "/api/v1/netmap/records",
            method: 'GET',
            //data: search,
            beforeSend: function(request) {
                request.setRequestHeader("X-Custom-URL", url);
            },
        }).done(function(jsn) {
            $.each(jsn.data, function(key, value) {

                if(typeof search["src_name"] !== 'undefined') {
                    var src_name = new RegExp(search["src_name"]);
                    if (!src_name.test(value['localAddr']['name'])) {
                        return;
                    }
                }

                var rs = (value['relation']['result'] == 0) ? 'ok' : 'firing';

                nRecords.push({
                    id:          value['id'],
                    result:      '<label class="label label-' + rs + '">' + rs + '</label>',
                    src_name:    value['localAddr']['name'],
                    src_ip:      value['localAddr']['ip'],
                    dst_name:    value['remoteAddr']['name'],
                    dst_ip:      value['remoteAddr']['ip'],
                    mode:        value['relation']['mode'],
                    port:        value['relation']['port'],
                    status:      value['options']['status'],
                    active_time: value['options']['active_time'] || 0,
                });

            });

            nRecords.sort(
                function(a, b){
                    if (a.active_time != b.active_time) {
                        return (a.active_time < b.active_time) ? 1 : -1;
                    }
                    return (a.id >= b.id) ? 1 : -1;
                }
            );

            $('#records').bootstrapTable('load', nRecords);

        });
    }

    $(function() {
        $('#records').bootstrapTable({
            pagination: true,
            search: true,
            classes: "table table-responsive-sd table-sd",
            pageSize: 1000,
            height: 850,
            columns: [
                { checkbox: true, width: 100 },
                { title: "State", field: "result", width: 100 },
                { title: "Source Name", field: "src_name", width: 250 },
                { title: "Source IP", field: "src_ip", width: 200 },
                { title: "Destination Name", field: "dst_name", width: 250 },
                { title: "Destination IP", field: "dst_ip", width: 200 },
                { title: "Mode", field: "mode", width: 100 },
                { title: "Port", field: "port", width: 100 },
                { title: "Status", field: "status" }
            ],
            onClickRow: function (e) { 
                $('#form #src_name').val("").val(e["src_name"]).prop('disabled', true);
                $('#form #src_ip').val("").val(e["src_ip"]).prop('disabled', true);
                $('#form #dst_name').val("").val(e["dst_name"]).prop('disabled', true);
                $('#form #dst_ip').val("").val(e["dst_ip"]).prop('disabled', true);
                $('#form #mode').val("").val(e["mode"]).prop('disabled', true);
                $('#form #port').val("").val(e["port"]).prop('disabled', true);
                $('#form #status').val("").val(e["status"]);
                $("#form #error").html("");

                $('#myModal').modal('show');
            }
        });

        $('#delete').on('click', function () {
            var ids = [];
            var data = $('#records').bootstrapTable('getData');
            $('#records input:checkbox:checked').each(function(){
                index = $(this).attr("data-index");
                if (typeof index !== 'undefined') {
                    ids.push(data[index]["id"]);
                }
            });

            if (ids.length > 0){
                $.ajax({
                    url: "/api/v1/netmap/records",
                    data: JSON.stringify(ids),
                    method: 'DELETE',
                    beforeSend: function(request) {
                        request.setRequestHeader("X-Custom-URL", $("#urls option:selected").text());
                    },
                }).done(function(jsn) {
                    loadRecords($("#urls option:selected").text());
                }).fail(function(jsn) { 
                    //$("#error").html("Error: "+(jsn.responseJSON.error || ''));
                });
            }
        });

        $('#add').on('click', function () {
            $('#form #src_name').val("").prop('disabled', false);
            $('#form #src_ip').val("").prop('disabled', false);
            $('#form #dst_name').val("").prop('disabled', false);
            $('#form #dst_ip').val("").prop('disabled', false);
            $('#form #mode').val("tcp").prop('disabled', false);
            $('#form #port').val("").prop('disabled', false);
            $('#form #status').val("").prop('disabled', false);
            $("#form #error").html("");

            $('#myModal').modal('show');
        });

        $('#save').on('click', function () {
            data = {};
            data["localAddr"] = {};
            data["localAddr"]["name"] = $('#form #src_name').val();
            data["localAddr"]["ip"] = $('#form #src_ip').val();
            data["remoteAddr"] = {};
            data["remoteAddr"]["name"] = $('#form #dst_name').val();
            data["remoteAddr"]["ip"] = $('#form #dst_ip').val();
            data["relation"] = {};
            data["relation"]["mode"] = $('#form #mode').val();
            data["relation"]["port"] = parseInt($('#form #port').val());
            data["options"] = {};
            data["options"]["status"] = $('#form #status').val();

            $.ajax({
                url: "/api/v1/netmap/records",
                data: JSON.stringify({ data: [data] }),
                method: 'POST',
                async: false,
                beforeSend: function(request) {
                    request.setRequestHeader("X-Custom-URL", $("#urls option:selected").text());
                },
            }).done(function(jsn) {
                $('#myModal').modal('hide');
                loadRecords($("#urls option:selected").text());
            }).fail(function(jsn) { 
                $("#error").html("Error: "+(jsn.responseJSON.error || ''));
            });
            
        });

        $('#search #start').on('click', function(event) {
            $.each(['src_name','src_ip','dst_name','dst_ip','port','mode'], function(key, value) {
                search[value] = $('#search #'+value).val();
            });
            $('#records').bootstrapTable('load', []);
            loadRecords($("#urls option:selected").text());
        });

        if (typeof menu[window.location.pathname] !== 'undefined'){
            $.each(menu[window.location.pathname]['options']['X-Custom-URL'], function(key, value) {
                $('#urls').append($('<option>', { value: key, text: value }));
            });
        }

        $('#urls').change(function() {
            $('#records').bootstrapTable('load', []);
            loadRecords($("#urls option:selected").text());
        });

        loadRecords($("#urls option:selected").text());

        $('#close, #myModal .close').on('click', function () {
            $('#myModal').modal('hide');
        });
    });
</script>