<h1 class="page-header mb-3 text-muted">Records</h1>

<div class="row">

    <div class="col-xl">
        <!--div class="panel panel-inverse">
            <div class="panel-heading bg-dark text-silver">
                <h4 class="panel-title">Search</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                </div>
            </div>
            <div id="search" class="panel-body text-silver" style="display:none;">
                <div class="row row-space-30">
                    <div class="col-xl-4">
                        <div class="m-b-2 text-silver f-w-600 f-s-16">Source</div>
                        <div class="form-group row m-b-15">
                            <label class="col-form-label col-md-3">Name</label>
                            <div class="col-md-9 input-group-sm">
                                <input id="src_name" type="text" class="form-control m-b-5" placeholder="Source Name">
                                <small class="f-s-12 text-grey-darker">can use regular expressions</small>
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-form-label col-md-3">IP</label>
                            <div class="col-md-9 input-group-sm">
                                <input id="src_ip" type="text" class="form-control m-b-5" placeholder="Source IP">
                                <small class="f-s-12 text-grey-darker">can use regular expressions</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="m-b-2 text-silver f-w-600 f-s-16">Destination</div>
                        <div class="form-group row m-b-15">
                            <label class="col-form-label col-md-3">Name</label>
                            <div class="col-md-9 input-group-sm">
                                <input id="dst_name" type="text" class="form-control m-b-5" placeholder="Destination Name">
                                <small class="f-s-12 text-grey-darker">can use regular expressions</small>
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-form-label col-md-3">IP</label>
                            <div class="col-md-9 input-group-sm">
                                <input id="dst_ip" type="text" class="form-control m-b-5" placeholder="Destination IP">
                                <small class="f-s-12 text-grey-darker">can use regular expressions</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="m-b-2 text-silver f-w-600 f-s-16">Relation</div>
                        <div class="form-group row m-b-15">
                            <label class="col-form-label col-md-3">Port</label>
                            <div class="col-md-9 input-group-sm">
                                <input id="port" type="text" class="form-control m-b-5" placeholder="Relation Port">
                                <small class="f-s-12 text-grey-darker">can use regular expressions</small>
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-form-label col-md-3">Mode</label>
                            <div class="col-md-9 input-group-sm">
                                <input id="mode" type="text" class="form-control m-b-5" placeholder="Relation Mode">
                                <small class="f-s-12 text-grey-darker">can use regular expressions</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="float-right">
                    <button id="start" type="submit" class="btn btn-sm btn-primary m-r-5">Search</button>
                </div>
            </div>
        </div-->

        <div class="card border-0 mb-3 overflow-hidden bg-dark text-silver">

            <div class="card-body">
                <div class="panel-body">
                    <div id="data-table-default_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row">
                            <button id="delete" type="button" class="btn btn-danger m-l-10">
                                <i class="fas fa-trash fa-fw mx-1 opacity-5"></i> Delete
                            </button>
                            <button id="add" type="button" class="btn btn-warning m-l-10">
                                <i class="fas fa-arrow-down fa-fw mx-1 opacity-5"></i> Add
                            </button>
                            <button id="update" type="button" class="btn btn-primary m-l-10">
                                <i class="fas fa-sync fa-fw mx-1 opacity-5"></i> Update
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="toolbar" class="float-left m-t-10" style="width: 400px;">
                                    <select id="urls" class="custom-select-sm form-control"></select>
                                </div>
                                <table id="records" class="table table-responsive-sd table-sd table-hover">
                                    <thead></thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

<!-- Модальное окно -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Сonnection</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="form" class="modal-body">
                <input id="id" type="hidden"/>
                <table>
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="150">Source Name</td>
                            <td>
                                <div class="input-group-sm">
                                   <input id="src_name" type="text" class="form-control m-t-2 m-b-2" style="width: 400px;"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Source IP</td>
                            <td>
                                <div class="input-group-sm">
                                   <input id="src_ip" type="text" class="form-control m-t-2 m-b-2" style="width: 200px;" disabled/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Destination Name</td>
                            <td>
                                <div class="input-group-sm">
                                    <input id="dst_name" type="text" class="form-control m-t-2 m-b-2"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Destination IP</td>
                            <td>
                                <div class="input-group-sm">
                                    <input id="dst_ip" type="text" class="form-control m-t-2 m-b-2" style="width: 200px;" disabled/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Mode</td>
                            <td>
                                <select id="mode" class="custom-select-sm form-control m-t-2 m-b-2" style="width: 100px;" disabled>
                                    <option value="tcp">tcp</option>
                                    <option value="udp">udp</option>
                                    <option value="cmd">cmd</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Port</td>
                            <td>
                                <div class="input-group-sm">
                                    <input id="port" type="text" class="form-control m-t-2 m-b-2" style="width: 100px;" disabled/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>
                                <div class="input-group-sm">
                                    <input id="status" type="text" class="form-control m-t-2 m-b-2" style="width: 100px;"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Result</td>
                            <td>
                                <div>
                                    <select id="result" class="custom-select-sm form-control m-t-2 m-b-2" style="width: 100px;">
                                        <option value="0">success</option>
                                        <option value="1">timeout</option>
                                        <option value="2">failed</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table> 
                <div id="error" style="margin-top: 10px; color: rgb(227, 80, 80)"></div>
            </div>
            <div class="modal-footer">
                <button id="close" type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                <button id="save" type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/assets/plugins/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery/jquery-dateformat.min.js"></script>
<script type="text/javascript">

    function request(url, method, data) {
        $.ajax({
            url: url,
            method: method,
            data: JSON.stringify(data),
            beforeSend: function(request) {
                request.setRequestHeader("X-Custom-URL", $("#urls option:selected").text());
            }
        }).done(function(jsn) {
            if (method == 'GET'){
                jsn.data.sort(
                    function(a, b){
                        if (a.localAddr.name != b.localAddr.name) {
                            return (a.localAddr.name > b.localAddr.name) ? 1 : -1;
                        }
                        if (a.remoteAddr.name != b.remoteAddr.name) {
                            return (a.remoteAddr.name > b.remoteAddr.name) ? 1 : -1;
                        }
                        return (a.relation.port >= b.relation.port) ? 1 : -1;
                    }
                );

                $.each(jsn.data, function(key, value) {
                    var rs = 'no_data';
                    if (value.options.status != "disabled") {
                        rs = (value.relation.result == 0) ? 'ok' : 'firing';
                    }
                    jsn.data[key].state = '<label class="label label-' + rs + '">' + rs + '</label>';
                    jsn.data[key].time = $.format.date(new Date(value.timestamp*1000), 'dd/MM/yyyy HH:mm:ss') || '-';
                    //console.log(new Date(value.timestamp*1000));
                });

                $('#records').bootstrapTable('load', jsn.data);
            }
            if (method == 'POST'){
                $('#myModal').modal('hide');
                request("/api/v1/netmap/records","GET");
            }
            if (method == 'DELETE'){
                request("/api/v1/netmap/records","GET");
            }
        }).fail(function(e) { 
            if (e.status == 401 || e.status == 403){
                window.location.replace("/login.html"); 
            }
            $.gritter.add({
                title: e.responseJSON.status,
                text: e.responseJSON.error,
                image: '/images/warning.png',
                time: 10000,
                class_name: 'my-class'
            });
            //$("#error").html("Error: "+(jsn.responseJSON.error || ''));
        });
    }

    $(function() {
        $('#records').bootstrapTable({
            pagination: true,
            paginationParts: ["pageInfo"],
            search: true,
            classes: "table table-responsive-sd table-sd",
            pageSize: 1000,
            height: 850,
            columns: [
                { checkbox: true, width: 100 },
                //{ title: "id", field: "id", width: 100 },
                { title: "State", field: "state", width: 100 },
                { title: "Time", field: "time", width: 160 },
                { title: "Source Name", field: "localAddr.name", width: 300 },
                //{ title: "Source IP", field: "localAddr.ip", width: 200 },
                { title: "Destination Name", field: "remoteAddr.name", width: 300 },
                //{ title: "Destination IP", field: "remoteAddr.ip", width: 200 },
                { title: "Mode", field: "relation.mode", width: 100 },
                { title: "Port", field: "relation.port", width: 100 },
                { title: "Status", field: "options.status" }
            ]
        });

        $('#records').on('click-row.bs.table', function (e, row, $element) {

            $('#form #id').val(row.id);
            $('#form #src_name').val("").val(row.localAddr.name);
            $('#form #src_ip').val("").val(row.localAddr.ip).prop('disabled', true);
            $('#form #dst_name').val("").val(row.remoteAddr.name);
            $('#form #dst_ip').val("").val(row.remoteAddr.ip).prop('disabled', true);
            $('#form #mode').val("").val(row.relation.mode).prop('disabled', true);
            $('#form #port').val("").val(row.relation.port).prop('disabled', true);
            $('#form #result').val("").val(row.relation.result);
            $('#form #status').val("").val(row.options.status);
            $("#form #error").html("");
            $('#myModal').modal('show');

        });

        $('#delete').on('click', function () {
            var ids = [];
            var data = $('#records').bootstrapTable('getData');

            $('#records input:checkbox:checked').each(function(){
                index = $(this).attr("data-index");
                if (typeof index !== 'undefined') {
                    ids.push(data[index]["id"]);
                }
            });
            
            if (ids.length > 0){
                request("/api/v1/netmap/records", "DELETE", ids);
            }
        });

        $('#add').on('click', function () {

            $('#form #id').val("");
            $('#form #src_name').val("").prop('disabled', false);
            $('#form #src_ip').val("").prop('disabled', false);
            $('#form #dst_name').val("").prop('disabled', false);
            $('#form #dst_ip').val("").prop('disabled', false);
            $('#form #mode').val("tcp").prop('disabled', false);
            $('#form #port').val("").prop('disabled', false);
            $('#form #status').val("").prop('disabled', false);
            $('#form #result').val("success").prop('disabled', false);
            $("#form #error").html("");

            $('#myModal').modal('show');
        });

        $('#save').on('click', function () {

            var row = {};
            row.id = $('#form #id').val();
            row.localAddr = {};
            row.localAddr.name = $('#form #src_name').val();
            row.localAddr.ip = $('#form #src_ip').val();
            row.remoteAddr = {};
            row.remoteAddr.name = $('#form #dst_name').val();
            row.remoteAddr.ip = $('#form #dst_ip').val();
            row.relation = {};
            row.relation.mode = $('#form #mode').val();
            row.relation.port = parseInt($('#form #port').val());
            row.relation.result = parseInt($('#form #result').val());
            row.options = {};
            row.options.status = $('#form #status').val();

            request("/api/v1/netmap/records", "POST", { data: [row] });
            
        });

        $('#search #start').on('click', function(event) {
            $('#records').bootstrapTable('filterBy', {}, {
                'filterAlgorithm': (row, filters) => {
                    if ($('#search #src_name').val() != "" && row.localAddr.name.search('^'+$('#search #src_name').val()+'$') < 0) return 0;
                    if ($('#search #src_ip').val() != "" && row.localAddr.ip.search('^'+$('#search #src_ip').val()+'$') < 0) return 0;
                    if ($('#search #dst_name').val() != "" && row.remoteAddr.name.search('^'+$('#search #dst_name').val()+'$') < 0) return 0;
                    if ($('#search #dst_ip').val() != "" && row.remoteAddr.ip.search('^'+$('#search #dst_ip').val()+'$') < 0) return 0;
                    if ($('#search #mode').val() !== "" && row.relation.mode.search('^'+$('#search #mode').val()+'$') < 0) return 0;
                    if ($('#search #port').val() != "" && row.relation.port.toString().search('^'+$('#search #port').val()+'$') < 0) return 0;
                    return 1;
                }
            });
        });

        if (typeof menu[window.location.pathname] !== 'undefined'){
            $.each(menu[window.location.pathname]['options']['X-Custom-URL'], function(key, value) {
                $('#urls').append($('<option>', { value: key, text: value }));
            });
        }

        $('#urls').change(function() {
            $('#records').bootstrapTable('load', []);
            request("/api/v1/netmap/records", "GET");
        });

        $('#update').on('click', function () {
            $('#records').bootstrapTable('load', []);
            request("/api/v1/netmap/records", "GET");
        });

        request("/api/v1/netmap/records", "GET");

        $('#close, #myModal .close').on('click', function () {
            $('#myModal').modal('hide');
        });
    });
</script>