<h1 class="page-header mb-3 text-muted">Targets</h1>

<div class="row">

    <div class="col-xl">

        <div class="card border-0 mb-3 overflow-hidden bg-dark text-white">

            <div class="card-body">
                <div class="panel-body">
                    <div id="data-table-default_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <!--div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="data-table-default_length"><label>Show <select name="data-table-default_length" aria-controls="data-table-default" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div id="data-table-default_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="data-table-default"></label></div>
                            </div>
                        </div-->
                        <div class="row">
                            <div class="col-sm-12">
                                <table data-height="700" data-pagination-parts="pageInfoShort" id="targets" class="table table-responsive-sm table-sm">
                                    <thead>
                                        <!--tr>
                                            <th data-field="scrapeUrl">Endpoint</th>
                                            <th data-field="health">State</th>
                                            <th data-field="job">Job</th>
                                            <th data-field="lastScrape">Last Scrape</th>
                                            <th data-field="lastScrapeDuration">Scrape Duration</th>
                                            <th data-field="lastError">Error</th>
                                        </tr-->
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
<script type="text/javascript" src="/assets/plugins/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script type="text/javascript">

    updates.update10 = function(){

        var targets = [];

        if (typeof menu[window.location.pathname] !== 'undefined'){

            $.ajax({
                url: "/api/v1/targets",
                beforeSend: function(request) {
                    request.setRequestHeader("X-Custom-URL", menu[window.location.pathname]['options']['host']);
                },
                success: function(jsn) {
                    $.each(jsn.data.activeTargets, function(key, value) {
                        var nowTime = new Date()
                        var scrapeTime = new Date(value.lastScrape);
                        targets.push({
                            state:              '<label class="label label-'+value.health+'">'+value.health+'</label>',
                            scrapeUrl:          value.scrapeUrl,
                            lastError:          '<font color="red">'+value.lastError+'<font>',
                            job:                value.discoveredLabels.job,
                            lastScrape:         ((nowTime - scrapeTime) / 1000).toFixed(2) + 's ago',
                            lastScrapeDuration: (value.lastScrapeDuration * 1000).toFixed(2) + 'ms',
                        });

                    });

                    $('#targets').bootstrapTable('load', targets);
                }


            });

        }

    }

    $(function() {
        $('#targets').bootstrapTable({
            pagination: true,
            search: true,
            classes: "table table-responsive-sm table-sm",
            pageSize: 100,
            columns: [
                { title: "State", field: "state", width: 50 },
                { title: "Endpoint", field: "scrapeUrl", width: 250 },
                { title: "Job", field: "job", width: 200 },
                { title: "Last Scrape", field: "lastScrape", width: 100 },
                { title: "Duration", field: "lastScrapeDuration", width: 100 },
                { title: "Error", field: "lastError" }
            ],
        });

        updates.update10();
    });
</script>