<ol class="breadcrumb float-xl-right">
    <!--li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
    <li class="breadcrumb-item"><a href="javascript:;">Dashboard</a></li>
    <li class="breadcrumb-item active">Dashboard v3</li-->
</ol>

<h1 class="page-header mb-3 text-muted">Alerts</h1>

<div class="row">

    <div class="col-xl">

        <div class="card border-0 mb-3 overflow-hidden bg-dark text-white">

            <div class="card-body">
                <div class="panel-body">
                    <div id="data-table-default_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12 text-nowrap">
                                <div id="toolbar" class="float-left m-t-10" style="width: 400px;">
                                    <select id="urls" class="custom-select-sm form-control"></select>
                                </div>
                                <table class="table table-responsive-sd table-sd table-hover" data-pagination-parts="pageInfo" id="alerts">
                                    <thead></thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
  
<!-- Модальное окно -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table data-pagination-parts="pageInfoShort" id="labels"></table> 
                <!--div class="container-fluid"></div-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <!--button type="button" class="btn btn-primary">Сохранить изменения</button-->
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/assets/plugins/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery/jquery-dateformat.min.js"></script>
<script type="text/javascript">

    var alerts = [];   

    function loadAlerts(url) {

        $.ajax({
            url: "/api/v1/alerts",
            method: 'GET',
            beforeSend: function(request) {
                request.setRequestHeader("X-Custom-URL", url);
            },
            success: function(jsn) {
                alerts = jsn.data;

                var nAlerts = [];

                for (var key in alerts) {
                    var value = alerts[key];
                    nAlerts.push({
                        alertId:    key,
                        state:      '<label class="label label-'+((value.status.state == "active") ? "firing" : "muted")+'">'+value.status.state+'</label>',
                        alertgroup: value.labels.alertgroup || '-',
                        alertname:  value.labels.alertname || '-',
                        node:       value.labels.host || value.labels.node || '-',
                        startsAt:   $.format.date(value.startsAt || value.activeAt, 'dd/MM/yyyy HH:mm:ss') || '-',
                        endsAt:     $.format.date(value.endsAt, 'dd/MM/yyyy HH:mm:ss') || '-',
                        summary:    value.annotations.summary || '-',
                    });
                }

                nAlerts.sort(
                    function(a, b){
                        if (a.node != b.node) {
                            return (a.node > b.node) ? 1 : -1;
                        }
                        if (a.alertgroup != b.alertgroup) {
                            return (a.alertgroup < b.alertgroup) ? 1 : -1;
                        }
                        if (a.alertname != b.alertname) {
                            return (a.alertname < b.alertname) ? 1 : -1;
                        }
                        return 1;
                    }
                );

                var currentPos = $('#alerts').position().top < 0 ? $('#alerts').position().top * -1 + 43 : 0;
                $('#alerts').bootstrapTable('load', nAlerts);
                $('div[class="fixed-table-body"]').scrollTop(currentPos);
            }


        });
    }

    $(function() {
        $('#myModal button').on('click', function () {
            $('#myModal').modal('hide');
        });

        $('#alerts').bootstrapTable({
            pagination: true,
            search: true,
            classes: "table table-responsive-sd table-sd",
            pageSize: 1000,
            height: 900,
            columns: [
                { title: "State", field: "state", width: 100 },
                { title: "AlertName", field: "alertname", width: 250 },
                { title: "Node", field: "node", width: 200 },
                { title: "AlertGroup", field: "alertgroup", width: 200 },
                { title: "StartsAt", field: "startsAt", width: 140 },
                { title: "EndsAt", field: "endsAt", width: 140 },
                { title: "Summary", field: "summary" }
            ],
            onClickRow: function (e) { 
                var alert = alerts[e.alertId];
                var labels = [];

                $('div[class="container-fluid"]').empty();
                $.each(alert.labels, function(key, value) {
                    labels.push({ label: '<label class="label label-muted">'+key+'</label>', value: value });
                });
                $.each(alert.annotations, function(key, value) {
                    if (value != ""){
                        labels.push({ label: '<label class="label label-aqua">'+key+'</label>', value: value });
                    }
                });
                if (alert.generatorURL) {
                    labels.push({ label: '<label class="label label-aqua">generatorURL</label>', value: '<a href="'+alert.generatorURL+'" target="_blank" style="color: #fff;">'+alert.generatorURL+'</a>' });
                }
                
                $('#labels').bootstrapTable('load', labels);
                $('#myModal').modal('show');
            }
        });

        $('#labels').bootstrapTable({
            pagination: false,
            search: false,
            classes: "table table-responsive-sd table-sd",
            columns: [
                { title: "Label", field: "label", width: 200 },
                { title: "Value", field: "value" }
            ]
        });

        if (typeof menu[window.location.pathname] !== 'undefined'){
            $.each(menu[window.location.pathname]['options']['X-Custom-URL'], function(key, value) {
                $('#urls').append($('<option>', { value: key, text: value }));
            });
        }

        $('#urls').change(function() {
            $('#alerts').bootstrapTable('load', []);
            loadAlerts($("#urls option:selected").text());
        });

        updates.update10 = function(){
            loadAlerts($("#urls option:selected").text());
        }

        loadAlerts($("#urls option:selected").text());

    });

 
</script>