{{ define "default" }}
{{ if eq .severity "critical" -}}
  {{- if eq .param "diagCentralRemoteState" -}}
    {{ template "create_task" . }}
  {{- end -}}
  {{- if eq .param "sysmonProcState" -}}
    {{ template "create_task" . }}
  {{- end -}}
{{ end -}}
{{ end }}
{{ define "create_task" }}
{
  "fields": {
    "project":
       {
          "key": "TEST"
       },
       "summary": "Monitoring {{ .host }} - {{ .param }} ({{ .severity }})",
       "description": "Сервер {{ .host }} недоступен. Необходимо проверить состояние сервера или удалить его из Etcd.",
       "issuetype": {
          "id": "10100"
       }
   }
}
{{ end }}
